.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  border: 10px solid purple;
  padding: 0;
}

.inner-box {
  background-color: rgb(225, 15, 15);
}

.white-text {
  color: white;
}